<?xml version='1.0' encoding='utf-8'?>
<widget id="com.filmadder.mobile" version="0.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name short="fa">film adder</name>
    <description>
		Our beloved watchlist app.
	</description>
    <author email="mail@filmadder.com" href="https://filmadder.com">
		film adder team
	</author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <icon src="res/icon/icon-192x192.png" />
    </platform>
    <engine name="android" spec="~6.4.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
</widget>
